<nav class="site-nav">
  <ul class="navigation">
    <li><a href="{{ site.baseurl }}/about-me/">About Me</a></li>
    <li><a href="{{ site.baseurl }}/deciphering-big-data/">Deciphering Big Data</a></li>
    <li><a href="{{ site.baseurl }}/machine-learning/">Machine Learning</a></li>
    <li><a href="{{ site.baseurl }}/research-methods/">Research Methods</a></li>
    <li><a href="{{ site.baseurl }}/professional-development/">Professional Development</a></li>
    <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
  </ul>
</nav>
